div {
  display: flex;
}

#columnComponentsNBk {
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

#columnComponentsWBk {
 flex: 1;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 height: 100vh;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #5c5c5c;
}

