table {
  width: 50%;
 
 
}

td, th {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  /* height: 40px;
  width: 25px; */
  text-align: center;
  vertical-align: middle;
  padding: 1px;
  
}
