#divOne{
        display: inline-flex;
        flex-direction: column;
        float: right;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 20px;
        background-color: red;
        width: 100%;
}

#divTwo {
        display: inline-flex;
        flex-direction: row;
        float: right;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 20px;
        background-color: red;
        width: 100%;
}

#divThree{
        flex-direction: 'column';
        flex: 2;
        background-color: purple;

}
#divFour{
        flex-direction: 'column';
        flex: 1;
        background-color: blue;

}
